*{
    box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
background: black;
}
img
{
   margin-left: 500px;
}
.field {
background: grey;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
width: 150px;
height: 150px;
border-radius: 50%;
margin-right: 10px;
}
#timer-1{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 30px;
}
.value{
margin-right: 10px;
color: white;
}
.label{
color: white
}